/* *************************Tablette*******************************/

/* Header pour Tablette */
@media (max-width: 1024px) {
  .navigation {
    padding: 0 50px;
  }
}
/* Fin Header pour Tablette */

/* Body pour Tablette */
@media (max-width: 1024px) {
  body {
    padding-bottom: 0;
  }
}
/* Fin Body pour Tablette */

/* Filtres de recherche pour Tablette */
@media (max-width: 1024px) {
  .Boite-filtres {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .conteneurdefiltre {
    gap: 10px;
    padding: 0;
  }
  .texte-filtre {
    font-size: 1rem;
  }
}
/* Fin Filtres de recherche pour Tablette */

/* Hébergements à Marseille et les plus populaires pour Tablette */
@media (max-width: 1024px) {
  .HebergementsMarseille-Populaires {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .HebergementsMarseille {
    width: 100%;
  }
  .Populaires {
    width: 100%;
  }
  /* Logements */
  .grid-logements {
    flex-direction: row;
    gap: 20px;
  }

  .image-hébergement {
    height: 114px;
  }
  /* Fin Logements */

  /*Cartes populaires */
  .cartes-populaires {
    flex-direction: row;
    gap: 20px;
  }
  .carte-populaire {
    width: 33.4%;
  }
  .image-populaire {
    min-height: 146px;
    max-height: 100%;
  }
}
/*Fin Cartes populaires */

/* Fin Hébergements à Marseille et les plus populaires pour Tablette */

/* Activités pour Tablette */
@media (max-width: 1024px) {
  .image-boite-activité {
    height: 200px;
  }
}
/* Fin Activités pour Tablette */

/* Footer pour Tablette */
@media (max-width: 1024px) {
  .footer {
    gap: 30px;
  }
}
/* Fin Footer pour Tablette */

/* *************************Mobile***************************/

/* Header pour Mobile */
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }
  .logo-booki {
    padding: 30px;
    margin: auto;
  }
  .navigation {
    padding: 0;
  }
  .liens-navigation {
    flex-basis: 100%;
    gap: 0;
  }
  .lien-navigation {
    padding: 0;
  }
  .lien-navigation {
    flex-basis: 50%;
    border-top: none;
    border-bottom: 2px solid var(--lightgrey);
    text-align: center;
    padding: 0 0 15px 0;
  }
  .lien-navigation:hover {
    border-top: none;
    border-bottom: 2px solid var(--blue);
  }
}
/* Fin Header pour Mobile */

/* Section de recherche pour Mobile */
@media (max-width: 768px) {
  .Rechercher {
    padding: 0 20px;
  }
}
/* Fin section de recherche pour Mobile */

/* Formulaire de recherche pour Mobile */
@media (max-width: 768px) {
  .barre-recherche {
    width: 100%;
  }
  .zonedesaisie {
    width: 100%;
    height: 100%;
  }
  .bouton-rechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--blue, #0065fc);
    width: 49px;
    height: 100%;
  }
  .bouton-rechercher:hover {
    box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  }
  .icone-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
    height: 100%;
  }
  .texte-rechercher {
    display: none;
  }
}
/* Fin formulaire de recherche pour Mobile */

/* Formulaire de recherche pour Mobile */
@media (max-width: 768px) {
  .Boite-filtres {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .conteneurdefiltre {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    gap: 10px;
  }
  .filtre {
    width: 48%;
    margin-top: 10px;
  }
  .texte-filtre {
    font-size: 14px;
  }
}
/* Fin formulaire de recherche pour Mobile */

/* Main pour Mobile */
@media (max-width: 768px) {
  .Boite-principale {
    padding: 0;
  }
}
/* Fin main pour Mobile */

/* Hébergements à Marseille et les plus populaires pour Mobile */
@media (max-width: 768px) {
  .HebergementsMarseille-Populaires {
    flex-direction: column-reverse;
    gap: 0;
  }
  .HebergementsMarseille {
    border-radius: 0;
    background-color: white;
    padding: 20px;
  }
  .Populaires {
    border-radius: 0;
    padding: 30px 20px;
  }
  /* Cartes de logement */
  .grid-logements {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .carte-hébergement {
    width: 100%;
  }
  /* Fin Cartes de logement */

  /* Cartes les plus populaires */
  .cartes-populaires {
    flex-direction: column;
    gap: 15px;
  }
  .carte-populaire {
    width: 100%;
  }
  /* Fin cartes les plus populaires */
}
/* Fin Hébergements à Marseille et les plus populaires pour Mobile */

/* Activités pour Mobile */
@media (max-width: 768px) {
  .flexbox-activités {
    flex-direction: column;
    gap: 15px;
  }
  .boite-activité {
    width: 100%;
  }
  .image-boite-activité {
    height: 141px;
  }
}
/* Fin activités pour Mobile */

/* Footer pour Mobile */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 30px;
    gap: 50px;
  }
  .liste-footer {
    width: 100%;
    margin: 0;
  }
}
/* Fin footer pour Mobile */
