@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* *****************************Desktop********************************/

/* Styles couleurs pré-définis */
:root {
  --white: #ffffff;
  --lightgrey: #f2f2f2;
  --darkgrey: #d9d9d9;
  --lightblue: #deebff;
  --lighterblue: #f3f8ff;
  --blue: #0065fc;
}

/* Fin Styles couleurs pré-définis */

* {
  font-family: "Raleway", "Sans serif";
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

/* Icones */

.fa-star {
  display: flex;
  align-items: center;
  color: var(--blue);
}

.fa-grey {
  color: var(--lightgrey);
}

.fa-blue {
  color: var(--blue);
}

/* Fin Icones */

/* Header pour desktop*/
header {
  display: flex;
  justify-content: space-between;
}
.logo-booki {
  padding: 30px 50px;
  width: 170px;
}
.navigation {
  display: flex;
  padding: 0 25px;
}
.liens-navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 68px;
}
.lien-navigation {
  font-size: 1rem;
  padding: 14px 0 0 0;
  border-top: 2px solid transparent;
}
.lien-navigation:hover {
  border-top: 2px solid var(--blue);
  color: var(--blue);
}
/* Fin Header pour desktop*/

/* Body pour desktop*/
body {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 60.501px 0;
  margin: auto;
  gap: 35px;
  max-width: 1440px;
}
/* Fin Body pour desktop*/

/* Main pour desktop*/
.Boite-principale {
  display: flex;
  padding: 0 50px;
  flex-direction: column;
  gap: 35px;
}
/* Fin Main pour desktop*/

/* Section de recherche pour desktop */
.Rechercher {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
/* Fin Section de recherche pour desktop */

/* En-tête de recherche pour desktop*/
.titre-soustitre {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: 0;
  gap: 8px;
}
.titrebooki {
  margin: 0;
}
.titre-soustitre p {
  margin: 0;
  font-size: 1rem;
}
/* Fin en-tête de recherche pour desktop*/


/* Formulaire de recherche pour desktop*/
.barre-recherche {
  display: flex;
  align-items: center;
  border: 0.0625rem solid var(--lightgrey);
  border-radius: 0.9375rem;
  margin-right: auto;
  height: 49px;
}
.localisation {
  display: flex;
  align-items: center;
  background-color: var(--lightgrey);
  width: 50px;
  height: 100%;
  border: 1px solid var(--lightgrey);
  border-radius: 15px 0 0 15px;
}
.icone-localisation {
  margin: 18px 19px;
}
.zonedesaisie {
  width: 197px;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 24px;
  border: 1px solid var(--lightgrey);
  border-right: none;
}
.bouton-rechercher {
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 0 15px 15px 0;
  border-right: none;
  background-color: var(--blue);
  color: white;
  padding: 15px 16px;
  cursor: pointer;
}
.texte-rechercher {
  font-weight: bold;
  font-size: 18px;
}
.icone-recherche {
  display: none;
}
/* Fin Formulaire de recherche pour desktop*/

/* Filtres de recherche pour desktop*/
.Boite-filtres {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.titre-filtres {
  margin: 0;
}
.conteneurdefiltre {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  margin: 0;
  gap: 15px;
}
.filtre {
  display: flex;
  align-items: center;
  height: 50px;
  border: 2px solid var(--darkgrey);
  border-radius: 160px;
  padding: 4px 19px;
  gap: 10px;
}
.filtre:hover {
  background-color: var(--lightblue);
  cursor: pointer;
}
.texte-filtre {
  font-size: 17px;
  font-weight: bold;
}
.icone-filtre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}
.fafilter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* Fin Filtres de recherche pour desktop*/

/* Résultats de la recherche */
.info-logements {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icone-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  border: solid 1px var(--darkgrey);
  border-radius: 100%;
}
.image-icone {
  color: var(--blue);
}
.texte-infos {
  font-size: 1rem;
  margin: 0;
}
/* Fin Résultats de la recherche */

/* Hébergements à Marseille et les plus populaires pour desktop*/
.HebergementsMarseille-Populaires {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 40px;
}
.HebergementsMarseille {
  display: flex;
  flex-direction: column;
  width: 66.6%;
  padding: 30px;
  background-color: var(--lightgrey);
  border-radius: 15px;
  gap: 30px;
}
.Populaires {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  background-color: var(--lightgrey);
  border-radius: 15px;
  padding: 30px;
  gap: 30px;
}
/* Fin Hébergements à Marseille et les plus populaires pour desktop*/


/* Logement pour desktop*/
.division-titre-hebergements-marseille {
  display: flex;
}
/* Fin Logement pour desktop*/


/* Titre du logement */
.titre-hebergements-marseille {
  margin: 0;
  font-size: 23px;
}
/* Cartes d'hébergement article */
.grid-logements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
/* Cartes d'hébergement */
.carte-hébergement {
  background-color: white;
  box-shadow: 0rem 0.1875rem 0.9375rem 0rem rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  border-radius: 20px;
  cursor: pointer;
}
.carte-hébergement:hover {
  transform: scale(1.04);
}
.voirplus {
  font-size: 18px;
  font-weight: bold;
}
/* Contenu carte d'hébergement */
.lien-carte-hébergement {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 15px;
  gap: 4px;
}
.contenu-carte-hébergement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  gap: 8px;
}
.image-hébergement {
  position: relative;
  height: 114px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  padding: 5px;
}
.description-carte-hébergement {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.titre-carte-hébergement {
  margin: 0;
}
.prix-carte-hébergement {
  font-size: 14px;
  margin: 0;
}
.carte-hébergement-avis {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 0;
}
.carte-hébergement-avis .fa-star {
  display: flex;
  align-items: center;
  width: 14.301px;
  height: 13.301px;
}
/* Fin Contenu carte d'hébergement */

/* Les plus populaires pour desktop*/
.division-titre-populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Fin les plus populaires pour desktop*/


/* Titre les plus populaires */
.titre-populaires {
  margin: 0;
  font-size: 23px;
}
.fa-chart-line {
  width: 18px;
  height: 15.75px;
  color: var(--blue);
}
/* Titre les plus populaires */


/* Article sur les cartes les plus populaires */
.cartes-populaires {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* Fin Article sur les cartes les plus populaires */


/*Cartes Les plus populaires */
.carte-populaire {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0rem 0.1875rem 0.9375rem 0rem rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  border-radius: 20px;
  cursor: pointer;
}
.carte-populaire:hover {
  transform: scale(1.04);
}
/*Fin cartes les plus populaires */


/* Contenu des cartes les plus populaires */
.lien-carte-populaire {
  display: flex;
  width: 100%;
  margin: 5px;
}
.contenu-carte-populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 5px 5px 15px;
}
.image-populaire {
  position: relative;
  height: 134px;
  width: 33.4%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.description-carte-populaire {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.titre-carte-populaire {
  margin: 0;
}
.prix-carte-populaire {
  font-size: 14px;
  margin: 0;
}
.carte-populaire-avis {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 2px;
}
.carte-populaire-avis .fa-star {
  width: 12px;
  height: 12px;
}
/* Fin Contenu des cartes les plus populaires */

/* Activités pour desktop */
.activités-marseille {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}
.titre-activités {
  margin: 0;
  font-size: 23px;
}
.flexbox-activités {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
}
.boite-activité {
  display: flex;
  flex-direction: column;
  width: 25%;
  box-shadow: 0rem 0.1875rem 0.9375rem 0rem rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  border-radius: 20px;
}
.boite-activité:hover {
  transform: scale(1.04);
}
.contenu-boite-activité {
  cursor: pointer;
}
.image-boite-activité {
  position: relative;
  height: 380px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.titre-activité {
  padding: 20px 19px;
  margin: 0;
}
/* Fin Activités pour desktop */

/* Footer pour desktop*/
footer {
  display: flex;
  background-color: var(--lightgrey);
  width: 100%;
}
.liste-footer {
  display: flex;
  flex-direction: column;
  color: black;
  width: 33%;
  margin: 20px;
  gap: 15px;
}
.titre-footer {
  margin: 0;
}
.lien-footer {
  display: flex;
  font-size: 1rem;
}
/* Fin Footer pour desktop*/
