/* Style Formulaire Contact */

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fffef8;
  padding: 20px;
  border-radius: 5px;
}

.contactForm h2 {
  color: #1d6154;
  margin-bottom: 10px;
  font-family: "Syne";
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.contactForm p {
  color: black;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-style: normal;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.contactForm label {
  color: black;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.7);
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
}

.contactForm .button {
  background-color: #1d6154;
  color: white;
  padding: 15px 60px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-self: center;
  font-weight: 700;
  font-size: 17px;
  font-family: "Syne";
}

.contactForm .button:hover {
  background-color: #365f77;
}

.contactForm textarea {
  resize: none;
}
