h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-weight: 800;
  color: #b1663c;
  margin-left: 230px;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}
h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
  text-align: center;
}

body {
  line-height: 1;
  background: #fffef8;
}

body {
  line-height: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

header nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 150px;
}

header nav a {
  padding: 0 10px;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}
header nav a:hover {
  color: #b1663c;
}

section {
  margin: 50px 0;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.filters img {
  width: 100%;
}

.filters button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid #1d6154;
  margin: 0 10px;
  color: #1d6154;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: "Syne";
}
.filters button:focus {
  background-color: #1d6154;
  color: white;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-right: 120px;
}

#introduction {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 70%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

main .galleryStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  width: 25%;
}

main .galleryStyle img {
  height: 100%;
  width: 116%;
  object-fit: cover;
}

/* Styles pour le lien contenant "modifier" */
.admin {
  color: black;
  text-decoration: none; /* Enlever la décoration du texte (souligné) */
  font-weight: bold;
  font-size: 1rem; /* Ajuster la taille du texte si nécessaire */
  vertical-align: middle; /* Aligner verticalement avec l'icône */
}

/*# sourceMappingURL=style.css.map */

/* Styles existants... */

.edit-mode-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.2cm; /* Hauteur de la bande noire */
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1;
  font-family: "Work Sans";
  font-weight: 300;
  z-index: 1000; /* Assurez-vous que la bande est au-dessus des autres éléments */
  display: none; /* Masquer par défaut, affiché via JavaScript */
}

/* Styles pour l'icône dans la bande noire */
.edit-mode-banner i {
  margin-right: 10px; /* Espacement entre l'icône et le texte */
  font-size: 1rem; /* Taille de l'icône */
}

#iconModifier {
  margin-right: 10px; /* Espacement entre l'icône et le texte */
  font-size: 1rem; /* Taille de l'icône */
  color: black;
  vertical-align: middle; /* Aligner verticalement avec le texte */
  margin-left: 30px;
}

h2 {
  display: flex;
  align-items: center; /* Alignement vertical des éléments à l'intérieur de <h2> */
  justify-content: center;
}

#margin {
  margin-left: 125px;
}

#instagram {
  width: 8%;
  margin-left: 20px;
  cursor: pointer;
}

#legal {
  color: black;
  text-decoration: none;
  padding-left: 1600px;
  font-family: "Work Sans";
  font-size: 400;
}
